{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}">
    <div class="profile_card">
        <img src="{{ profile.profile_pic.url }}">
        <h1>{{ profile.full_name }}</h1>
        <p>{{ profile.employee_role }}</p>
        <p>User: {{ profile.user }}</p>
            <button>Tasks</button>
    <a class="profile-anchor" href="{% url 'profile edit' object.pk %}"> Edit Profile</a>
    </div>
{% endblock %}