<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="parent">
    <div class="box-one">
        <h1>
            Hi,<br/>
            I’m
            <span class="color-secondary">{{ p_details.full_name }}
      </span>
            <br/>
            I,m a <span class="color-secondary">Web Developer</span>, at
            <a class="color-secondary" target="_blank" href="http://jsdevs.dev">JSdevs</a>
        </h1>
        <div style="margin-top:50px;">
            <a class="contact-link" target="_blank" href="https://www.instagram.com/akhtar_sheraliat/"> Contact Me</a>
        </div>
    </div>
    <div class="box-two">
        <div class="image">
            <img src="https://s.cdpn.io/profiles/user/1206184/512.jpg?1568477798">
        </div>
    </div>
</div>
</body>
</html>