{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}">
    <script src="{% static "js/helpers_profile.js" %}" type="module"></script>


    <div class="profile_card">
        <img alt="" src="{{ profile.profile_pic.url }}">
        <h1>{{ profile.full_name }}</h1>
        <p>{{ profile.employee_role }}</p>
        <p>User: {{ profile.user.username }}</p>
        <button id="show_target_list">Show target completion</button>
        <a class="profile-anchor" href="{% url 'profile edit' pk %}">Edit profile</a>

    </div>
    <div id="target_list" style="display: none">
        <table>
            <tr class="main-tr">
                <th>Actual registered clients</th>
                <th>Target registered clients</th>
                <th>Completion(%):</th>
                <th>Actual opened accounts</th>
                <th>Target opened accounts</th>
                <th>Completion(%):</th>
                <th>Actual opened loans</th>
                <th>Target opened loans</th>
                <th>Completion(%):</th>
                <th>Actual opened loans size</th>
                <th>Target opened loans size</th>
                <th>Completion(%):</th>

            </tr>
            <tr>
                <th>{{ profile_target_data.registered_clients_target }}</th>
                <th>{{ profile_target_data.registered_clients_actual }}</th>
                <th>{{ profile_target_data.calc_customers_target_completion }}</th>
                <th>{{ profile_target_data.opened_accounts_target }}</th>
                <th>{{ profile_target_data.opened_accounts_actual }}</th>
                <th>{{ profile_target_data.calc_accounts_target_completion }}</th>
                <th>{{ profile_target_data.opened_loans_count_target }}</th>
                <th>{{ profile_target_data.opened_loans_actual }}</th>
                <th>{{ profile_target_data.calc_loans_count_target_completion }}</th>
                <th>{{ profile_target_data.total_loans_size_target }}</th>
                <th>{{ profile_target_data.total_loans_size_actual }}</th>
                <th>{{ profile_target_data.calc_loans_amount_target_completion }}</th>
            </tr>
        </table>
            <table>
            <tr class="main-tr">
                <th>Clients completion(%):</th>
                <th>Accounts completion(%):</th>
                <th>Loan count completion(%):</th>
                <th>Loan value completion(%):</th>
            </tr>
            <tr>
                <th>{{ profile_target_data.calc_customers_target_completion }}</th>
                <th>{{ profile_target_data.calc_accounts_target_completion }}</th>
                <th>{{ profile_target_data.calc_loans_count_target_completion }}</th>
                <th>{{ profile_target_data.calc_loans_amount_target_completion }}</th>
            </tr>
        </table>
    </div>
{% endblock %}