{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BANK OF SOFTUNI</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static "js/helpers.js" %}" type="module"></script>

    {#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {#        <link rel="icon" type="image/png" href="https://pluspng.com/img-png/instagram-png-instagram-png-icon-1024.png">#}
    {#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"#}
    {#              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">#}

</head>
<body>

<header>
    <nav id="nav-panel">
        <img src="https://i.ibb.co/99cfrL6/Capture.png" alt="Capture">
        <a class="align-left" href="{% url 'index' %}">Home
        Page</a>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a class="align-left" href="{% url 'logout' %}">Logout</a>
            <a class="align-right" href="#">My Tasks</a>

        {% endif %}
        {% if request.user.is_staff %}
            <div class="dropdown">
                <span>User Panel</span>
                <div class="dropdown-content">
                    <a class="align-left" href="{% url 'register' %}">Register Staff user</a>
                    <a class="align-left" href="{% url 'logout' %}">Logout</a>
                    <a class="align-left" href="{% url 'profile details' request.user.id %}">My Profile</a>
                </div>
            </div>
        {% endif %}
    </nav>
</header>
<div id="container">
    {% block page_content %}
    {% endblock %}
</div>
</body>
</html>