{% extends 'main/base.html' %}

{% block page_content %}
    <table id="sidebar">
        <tr>
            <td>
                <a href="{% url 'customer search' %}">FIND CUST</a>
            </td>
        <tr>

            <td>
                <a href="{% url 'customer register' %}">REGISTER CLIENT</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'customer details' 1 %}">VIEW CLIENT DETAILS</a>>
            </td>
        </tr>

    </table>
{% endblock %}