body {
    background-image: url("https://i.ibb.co/qJthK69/White-Backgrounds-Photos.jpg");
    background-size: cover;
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: larger;
}

.container-inline {
    margin: 1rem;
    padding: 2rem 2rem;

}


nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

/*nav {*/
/*    color: darkorange;*/
/*}*/

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: darkorange;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

/*nav a:hover {*/
/*    cursor: pointer;*/
/*    color: red;*/
/*    font-weight: bolder;*/
/*}*/

#welcomePage {
    float: left;
    width: 50%;
    color: #45a29e;
    font-size: 24px;
    padding: 30px;
    margin: 10px;

}


nav > img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
}


*, *:before, *:after {
    box-sizing: border-box;
}

input {
    padding: 5px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;

}

button {
    padding: 15px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

select {
    border-radius: 10px;

}

/*CUS DETAILS*/
/*rounded img*/

form {
    background-image: url("https://i.ibb.co/1zPH5JF/Black-Hexagon.jpg");
    margin: auto;
    width: 50%;
    border: 5px solid darkorange;
    padding: 10px;
    color: darkorange;
    font-size: large;
    font-weight: bold;
}




/**/body {
    background-image: url("https://i.ibb.co/qJthK69/White-Backgrounds-Photos.jpg");
    background-size: cover;
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: larger;
}

.container-inline {
    margin: 1rem;
    padding: 2rem 2rem;

}

/*nav,*/
/*footer {*/
/*    background-color: #0B0C10;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    font-size: 16px;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    padding: 0 5px 0 3px;*/
/*    margin: 0;*/
/*    color: white;*/
/*}*/

/*nav a {*/
/*    text-decoration: none;*/
/*    color: #8f8f8f;*/
/*    font-size: 35px;*/
/*    font-weight: bolder;*/
/*    position: relative;*/
/*    margin: 20px;*/
/*}*/

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

nav {
    color: darkorange;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: darkorange;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: red;
    font-weight: bolder;
}

#welcomePage {
    float: left;
    width: 50%;
    color: #45a29e;
    font-size: 24px;
    padding: 30px;
    margin: 10px;

}


nav > img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
}


*, *:before, *:after {
    box-sizing: border-box;
}

input {
    padding: 5px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;

}

button {
    padding: 15px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

select {
    border-radius: 10px;

}

/*CUS DETAILS*/
/*rounded img*/

form {
    background-image: url("https://i.ibb.co/1zPH5JF/Black-Hexagon.jpg");
    margin: auto;
    width: 50%;
    border: 5px solid darkorange;
    padding: 10px;
    color: darkorange;
    font-size: large;
    font-weight: bold;
}




/*admin*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}