body {
    background-image: url("https://i.ibb.co/qJthK69/White-Backgrounds-Photos.jpg");
    background-size: cover;
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: larger;
}


nav,
footer {
    background-image: url("https://i.ibb.co/BNZ7dgf/imageedit-2-7977708091.jpg");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0 5px 0 3px;*/
    /*margin-bottom: 25px;*/
    color: darkorange;

}

nav a {
    text-decoration: none;
    /*border-radius: 50%;*/
    color: darkorange;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 20px;
    justify-content: space-between;
    float: left;
    clear: left
}

nav a:hover {
    cursor: pointer;
    color: red;
}

.sidebar-anchor {
    text-decoration: none;
    /*border-radius: 50%;*/
    color: darkorange;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 20px;
    justify-content: space-between;
    float: left;
    clear: left
}

.sidebar-anchor:hover {
    cursor: pointer;
    color: red;
}

.profile-anchor {
    text-decoration: none;
    /*border-radius: 50%;*/
    color: darkorange;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 50px;
    justify-content: space-between;
    float: left;
    clear: left
}

.profile-anchor:hover {
    cursor: pointer;
    color: green;
}

p {
    color: darkorange;
    font-size: medium;
    font-weight: bold;
    padding-left: 15px;
}


nav div:hover {
    cursor: pointer;
    color: red;
}

span {
    font-size: 20px;
    font-weight: bold;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    margin: 30px;
}

button:hover {
    cursor: pointer;
    background-color: green;
}

button {
    padding: 17px;
    border: none;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin: 10px;
}

.btn-anchor {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}


.btn-anchor:hover {
    background-color: green;
    color: white;
}


select {
    border-radius: 15px;
    width: 100%;

}

nav > img {
    width: 100px;
    height: 80px;

}


select {
    border-radius: 10px;
}

/*CUS DETAILS*/

form {
    background-image: url("https://i.ibb.co/3h37wvt/9f9fe69eebcd03462913b049c3082767.jpg");
    margin: auto;
    text-align: left;
    width: 55%;
    border: 1.5px solid darkorange;
    padding: 50px;
    margin-bottom: 10px;
    color: darkorange;
    font-size: medium;
    font-weight: bold;
}

select {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 18px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    width: 100%;
    background-color: black;
    color: darkorange;
    font-size: 15px;
    font-weight: bold;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    display: block;
}

/*admin dropdown panel*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

option {
    font-size: 20px;
}


#sidebar {
    height: 650px;
    width: 250px;
    position: relative;
    left: 0;
    /*padding-top: 20px;*/
    background-image: url("https://i.ibb.co/BNZ7dgf/imageedit-2-7977708091.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    bottom: 100px;

}

label {
    display: block;
    margin-bottom: 10px;
}
