.profile_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.profile_card img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    display: block;
    position: center;
}


.customer_card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: auto;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

}

.customer_card img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    max-width: 60%;
    min-width: 60%;
}


th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 5px solid black;
}

table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    /*border-left: solid;*/
    /*border-right: solid;*/
    /*border-top: solid;*/
    max-width: 85%;
    min-width: 85%;
    border-collapse: collapse;
    margin-bottom: 15px;
    margin-top: 15px;
}

tr:hover {
    background-color: darkorange;
}

tr {
    border: none;

}

.main-tr {
    background-color: black;
    color: darkorange;
    font-weight: bolder;
    font-size: large;
}

.main-tr:hover {
    background-color: black;
}

th, td {
    border-collapse: collapse;
    border: 2px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}
