{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/table-info.css' %}">

    <div id="search_result">
        {% if not initial_page_load %}
            <table>

                <tr>
                    <td>
                        <a href="{% url 'customer details' customer.id %}">
                            Show Details - #{{ customer.customer_number }}: {{ customer.full_name }} -
                            ID: {{ customer.document_number }}

                                    <img src="{{ customer.id_card.url }}">

                        </a>
                    </td>
                <tr>

                    <td>
                        <a href="{% url 'customer edit' customer.id %}">Edit customer</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'customer search' %}">New search</a>
                    </td>
                </tr>
            </table>
        {% else %}
            <div id="searchbar">
                <form method="GET" action="{% url 'customer search' %}">
                    <label for="ucn">Search customer by UCN:</label>
                    <input type="number" name="ucn"/>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div id="searchbar2">
                <form method="GET" action="{% url 'customer search' %}">
                    <label for="doc_number">Search customer by document number:</label>
                    <input type="text" name="document_number"/>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div id="searchbar3">
                <form method="GET" action="{% url 'customer search' %}">
                    <label for="full_name">Search customer by Full Name:</label>
                    <input type="text" name="full_name"/>
                    <button type="submit">Search</button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}