{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}">

    <div class="customer_card">
        <img src="{{ customer.id_card.url }}">
        <p> Full name: {{ customer.full_name }}</p>
        <p> UCN: {{ customer.ucn }}</p>
        <p> Age: {{ customer.age }}</p>
        <p> Assigned user: {{ customer.assigned_user.username }}</p>
        <p> Annual Income: {{ customer.annual_income }}</p>
        <button>Tasks</button>
        <button id="open-account-btn">Open account</button>
        <button id="show-accounts-btn">Show customer accounts</button>
        <button id="open-loans-btn">Show customer loans</button>
        <button id="open-loan-btn">Create loan</button>
        <a href="{% url 'loan create' customer.id %}">Start loan procedure</a>
    </div>
    <div id="account-open" style="display: none">
        <form method="POST" action="{% url 'customer details' customer.id %}" enctype="multipart/form-data">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Open Account</button>
        </form>
    </div>
    <table id="accounts-list-table" style="display: none">
        <tr>
            <th>IBAN</th>
            <th>Open Currency</th>
            <th>Available balance</th>
            <th>Balance in BGN</th>
            <th>Opening date</th>
            <th>Card Number</th>
        </tr>
        {% for acc in accounts %}

            <tr>
                <th>{{ acc.account_number }}</th>
                <th>{{ acc.currency }}</th>
                <th>{{ acc.available_balance | floatformat:2 }}</th>
                <th>{{ acc.local_currency | floatformat:2 }}</th>
                <th>{{ acc.open_date }}</th>
                <th>{{ acc.debit_card }}:{{ acc.debit_card_number }}</th>
            </tr>


        {% endfor %}
    </table>

{% endblock %}