{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}">
    <script src="{% static "js/helpers.js" %}" type="module"></script>

    <div class="customer_card">
        <a class="profile-anchor" href="{% url 'loan check' customer.id %}">Start new loan procedure</a>
        <a class="profile-anchor" href="{% url 'loan edit' customer.id %}">Premature loan payment</a>
        <a class="profile-anchor" href="{% url 'account edit' customer.id %}">Account deposit</a>

        <img src="{{ customer.id_card.url }}">
        <button id="show-customer-details">Show customer details</button>

        <div id="customer-details" style="display:none;">

            <p> Full name: {{ customer.full_name }}</p>
            <p> UCN: {{ customer.ucn }}</p>
            <p> Age: {{ customer.age }}</p>
            <p> ID: {{ customer.document_number }}</p>
            <p> Gender: {{ customer.gender }}</p>
            <p> Annual Income: {{ customer.annual_income }}</p>
            <p> Occupation: {{ customer.occupation }}</p>
            <p> Annual Income: {{ customer.occupation }}</p>
            <p> Assigned user: {{ customer.assigned_user.username }}</p>

        </div>

        <button id="open-account-btn">Open account</button>
        <button id="show-accounts-btn">Show customer accounts</button>
        <button id="show-loans-btn">Show loans</button>

    </div>
    <div id="account-open" style="display: none">
        <form method="POST" action="{% url 'customer details' customer.id %}" enctype="multipart/form-data">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Open Account</button>
        </form>
    </div>

    <table id="loan-list-table" style="display: none">
        <tr class="main-tr">
            <th>Loan number</th>
            <th>Currency</th>
            <th>Monthly payment</th>
            <th>Next payment due date</th>
            <th>Current month paid</th>
            <th>Serving account</th>
            <th>Remaining principal</th>
            <th>Open date</th>
            <th>End date</th>
        </tr>
        {% if loans %}
            {% for loan in loans %}
                <tr>
                    <th>{{ loan.loan_number }}</th>
                    <th>{{ loan.currency }}</th>
                    <th>{{ loan.monthly_payment_value | floatformat:2 }}</th>
                    <th>{{ loan.next_monthly_payment_due_date }}</th>
                    <th>{{ loan.is_paid_monthly }}</th>
                    <th>{{ loan.account_credit.account_number }}</th>
                    <th>{{ loan.principal_remainder | floatformat:2 }}</th>
                    <th>{{ loan.open_date }}</th>
                    <th>{{ loan.end_date }}</th>
                    <a href="{% url 'loan edit' loan.id %}">Repay Loan</a>
                </tr>


            {% endfor %}
            </table>
        {% endif %}
    <table id="accounts-list-table" style="display: none">
        <tr class="main-tr">
            <th>IBAN</th>
            <th>Open Currency</th>
            <th>Available balance</th>
            <th>Balance in BGN</th>
            <th>Opening date</th>
            <th>Card Number</th>
        </tr>
        {% for acc in accounts %}

            <tr>
                <th>{{ acc.account_number }}</th>
                <th>{{ acc.currency }}</th>
                <th>{{ acc.available_balance | floatformat:2 }}</th>
                <th>{{ acc.local_currency | floatformat:2 }}</th>
                <th>{{ acc.open_date }}</th>
                <th>{{ acc.debit_card_number }}</th>
            </tr>


        {% endfor %}
    </table>

{% endblock %}