{% extends 'main/base.html' %}

{% block page_content %}
        <form method="GET" action="{% url 'loan check' customer.id %}">
            <label for="period">Period in years:</label>
            <input type="number" id="period" name="period" required/>
            <label for="principal">Principal:</label>
            <input type="number" id="principal" name="principal" required/>
            <button type="submit">Calculate loan parameters</button>
        {% if loan_data %}
            <p>Total interest costs: {{ loan_data.total_interest_costs }}</p>
            <p>Total loan costs: {{ loan_data.total_loan_cost }}</p>
            <p>Interest rate: {{ loan_data.interest_rate }}</p>
            <p>Monthly payment: {{ loan_data.monthly_payment }}</p>
            <a class="sidebar-anchor" href="{% url 'loan create' customer.pk %}">Accept loan details and finalize deal</a>
        {% endif %}
        </form>
    {% if request.session.error %}
        <h1>{{ request.session.error }}</h1>
    {% endif %}
{% endblock %}
