{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}">

    <form method="POST" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Close loan</button>
    </form>

    <table id="accounts-list-table" style="display: block">
        <tr class="main-tr">
            <th>IBAN</th>
            <th>Open Currency</th>
            <th>Available balance</th>
            <th>Balance in BGN</th>
            <th>Opening date</th>
            <th>Card Number</th>
        </tr>
        {% for acc in accounts %}

            <tr>
                <th>{{ acc.account_number }}</th>
                <th>{{ acc.currency }}</th>
                <th>{{ acc.available_balance | floatformat:2 }}</th>
                <th>{{ acc.local_currency | floatformat:2 }}</th>
                <th>{{ acc.open_date }}</th>
                <th>{{ acc.debit_card_number }}</th>
            </tr>


        {% endfor %}
    </table>
{% endblock %}